<a class="navbar-brand mr-1" href="/dashboard"> Dashboard</a>

<button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
    <i class="fas fa-bars"></i>
</button>

<div class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" style="color: white">Xin chào, {{nameAdmin}}</div>

<!-- Navbar Search -->
<form class="d-none d-md-inline-block form-inline mr-0 mr-md-3 my-2 my-md-0">
   <a href="/admin/login"
         onclick="return confirm ('Bạn có chắc chắn muốn thoát ?');"
         class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-log-out"></span> Đăng xuất
        </a>
</form>a

<!-- Navbar -->
