<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    {{>nav-bars}}

</nav>

<div id="wrapper">

    <!-- Sidebar -->
    {{>sidebar}}

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">{{pageTitle}}</li>
            </ol>


            <!-- Page Content -->

            <!-- Editable table -->
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <a href="manufacturer/add"><button type="button" class="btn btn-success">Thêm mới</button></a>
                    </div>
                    </br>
                   
                    <!-- End mainmenu area -->

                    <div class="row content">
                        <div class="panel-body">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="list" style="height: 300px;overflow: auto;">
                                    <table class="table table-striped table-bordered table-list" id="ta1">
                                        <thead>
                                        <tr>
                                            <th>Tên nhà sản xuất</th>
                                            <th>Chức năng</th>
                                        </tr>
                                        </thead>
                                        {{#each manufacturerList}}
                                        <tbody>
                                        <tr>
                                            <td>{{this.name}}</td>                                          
                                            <td>
                                                <a href="manufacturer/{{this._id}}"><i class ="fa fa-pen"></i></a>
                                                <a href="manufacturer/delete/{{this._id}}" onclick="return confirm ('Bạn có chắc chắn muốn xóa ?');"><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                       
                                        </tbody>
                                        {{/each}}

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Editable table -->
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © Your Website 2019</span>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
{{>logout}}

{{> js}}